* {
  box-sizing: border-box;
}


body {
  font-family: Arial;
  margin: 0;
  /* background-image: url(../tomasbendaravicius.github.io/img/dangusgiedras.jpg); */
  background-image: url(https://www.vle.lt/tmp/vle-images/63188_1.jpg);
}


.header {
  padding: 60px;
  text-align: center;
  /* background: #1abc9c; */
  background-image: url(../tomasbendaravicius.github.io/img/miskas.jpg);
  color: white;
}


.navbar {
  display: flex;
  background-color: #333;
}


.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.row {
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 30%;

  padding: 20px;
}


.main {
  flex: 70%;
  padding: 20px;
}


.fakeimg {

  background-image: url(../tomasbendaravicius.github.io/img/parkas1.jpg);
  width: 100%;
  padding: 20px;
}


.footer {
  padding: 20px;
  text-align: center;

}

img {

  width: 30%;
  height: 100%;

}


@media screen and (max-width: 700px) {

  .row,
  .navbar {
    flex-direction: column;
  }
}

#dvaras {
  background-image: url(../tomasbendaravicius.github.io/img/dvaras.jpg);
  width: 100%;
  height: 300px;


}

#prudai {
  background-image: url(../tomasbendaravicius.github.io/img/prudai.jpg);
  width: 100%;
  height: 300px;
}

#parkas {
  background-image: url(../tomasbendaravicius.github.io/img/gamta.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;

}

.gamta {
  display: inline;
}

.privalumai {
  width: auto;
  height: 200;
}

p {
  font-style: italic;
}